/* Color adjustments for text */

.red {
  color: #cc0033;
}

/* Add blue tag */
.blue {
  color: #0000CC;
  font-weight: bold;
}

/* Add green tag */
.green {
  color: #50C878;
  font-weight: bold;
}

/* Add grey tag */
.grey {
  color: #515151;
}

.lightgrey {
  color: #818181;
}

/* Force black */
.black {
  color: black;
  font-weight: bold;
}

/* Add white tag */
.white {
  color: white;
}

warn-blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 20px;
  margin-right: 20px;
  border-left: solid 10px #cc0033;
  background-color: #BEBEBE;
  padding: 1em;
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

ok-blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 20px;
  margin-right: 20px;
  border-left: solid 10px #50C878;
  background-color: #BEBEBE;
  padding: 1em;
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

message-blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 20px;
  margin-right: 20px;
  border-left: solid 10px #999900;
  background-color: #BEBEBE;
  padding: 1em;
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}